body{
  text-align: center;
  background: #393E46;
}



h1{
  font-family: "Lobster",cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  margin: 30px;
}
p{
  font-family: "Indie Flower",cursive;
  font-size: 3rem;
  color: #4ECCA3;
}
.dice{

  display: inline-block;
}

.img {
  width: 80%;
}

footer{
  font-size: 2rem;
  margin-top: 3%;
  font-family: "Indie Flower",cursive;
  color: #EEEEEE;
}
